NEXT_PUBLIC_SUPABASE_URL="https://your-project-ref.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtpZXZhb3dtYXJha2RkYnNzbmRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNjgyODUsImV4cCI6MjA5MTY0NDI4NX0.23v0oVtAmTXEv-e54N1oT8Wl2zQOTGDQMXkeysG_ljc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtpZXZhb3dtYXJha2RkYnNzbmRkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjA2ODI4NSwiZXhwIjoyMDkxNjQ0Mjg1fQ.kjj-y4aq_t3iVtjknXVtmR2xKSq-pZe6g21u-Xn7wpw
SLACK_BOT_TOKEN=xoxb-10937545890672-10912244427990-ntsV0qvr8driE4ZKiEl6kZJ9
SLACK_SIGNING_SECRET=fc79b2058f6a03d5cbbbba9f2fd3b6a6
